/*
!/.gitignore
!/README.md

!/saves
/saves/*
!/saves/Don\'t\ look\ into\ the\ woods
!/saves/Don\'t\ look\ into\ the\ woods\ dev
!/saves/Don\'t\ look\ into\ the\ woods\ pt.\ 2\ dev

!/shaderpacks
/shaderpacks/*
!/shaderpacks/BSL_v8.0.01.zip

!/mods
mods/*
!/mods/CustomNPCs-1.16.5.20220515.jar
!/mods/Guidebook-1.16.3-3.2.1.jar

!/venv
!/scripts
